.DS_Store
.git/
.github/
.vscode/
config/
docs/
node_modules
*/.DS_Store
test/
.babelrc
.env*
.git*
.postcssrc.js
.travis.yml
renovate.json
npm-debug.log*
coverage
build
tmp/
temp/
config/
src/config/
ormconfig*